
@import "~taro-ui/dist/style/components/nav-bar.scss";
@import "~taro-ui/dist/style/components/icon.scss";
.title{
  font-size: 42px;
  text-align: center;
  padding: 15px 0px;
}
.page-container{
  padding:0px 15px;
  width: 720px;
}