@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/article.scss";
@import "~taro-ui/dist/style/components/icon.scss";

.favorite-block-img {
    width: 100%;
    height: 200rpx;
}

.favorite-block-description {
    height: 100rpx;
    overflow: hidden;
}

.favorite-delete-icon {
    color: red;
}
  